@import './reset.css';
@import '@radix-ui/themes/styles.css';
@import '@vidstack/react/player/styles/base.css';

.superinterface {
  display: flex;
  flex-grow: 1;
}

.superinterface .radix-themes {
  min-height: inherit;
  display: flex;
  flex-grow: 1;
  --default-font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --cursor-button: pointer;
  --cursor-menu-item: pointer;
}
